@import '_fonts';
@import '_colors.scss';

$title-margins: auto 0rem calc(.6rem / var(--size-variant)) calc(6rem / var(--size-variant));

:root {
   font-size: 16px;
   --size-variant: 1.3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navBox {
   position: relative;
   background: $rich-black;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   min-height: calc(8rem / var(--size-variant));
   width: 100%;
   box-shadow: 0 .5rem .15rem .33rem $rich-black;
   z-index: 0;


   #lunacy {
      align-self: flex-end;
      color: $baby-powder;
      font-size: calc(2rem / var(--size-variant));
      margin: $title-margins;
   }

   #linkBox {
      width: 20rem;
      display: flex;
      flex-flow: row wrap;
      align-self: flex-end;
      margin: auto calc(6rem / var(--size-variant)) calc(.6rem / var(--size-variant)) auto;

      .navLink {
         color: $baby-powder;
         margin: auto;
         font-size: calc(.95rem / var(--size-variant))
      }
   }
}


#bodyBox {
   display: flex;
   height: 100%;
   margin-bottom: 0;
   z-index: -1;
   #leftBox {
      width: 12%;
   }

   #contentBox {
      background-color: $tiffany-blue;
      width: 76%;
      height: 100%;

      #contentSection {
         background-color: $baby-powder;
         height: 100vh;
         width: 76%;
         margin: 8% auto;
         
         
         .category {
            font-size: .66rem;
            background-color: $rich-black;
            color: white;
            padding: 8%;
            border-left: .66rem solid $baby-powder;
            border-top: .66rem solid $rich-black;
            box-shadow: -.33rem 0 .66rem .03rem $rich-black;
            border-radius: 0 0 0 1rem;
            margin-top: 1rem;
         }

         .category:hover {
            box-shadow: inset 0 0 .1rem .06rem $rich-black;
            cursor: pointer;
            border-radius: 0 1rem 0 0;
         }
      }
   }

   #rightBox {
      width: 12%;
   }
}

@media screen and (max-width: 1024px) {
   :root {
      --size-variant: 1.5;
   }
}
