@import "./fonts/fonts";
@import "_colors.scss";

$title-margins: auto 0rem calc(0.6rem / var(--size-variant))
  calc(10rem / var(--size-variant));

:root {
  font-size: 12px;
  --size-variant: 2.5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navBox {
  position: relative;
  background: $rich-black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: calc(30rem / var(--size-variant));
  width: 100%;
  box-shadow: 0 0.5rem 0.15rem 0.33rem $rich-black;
  z-index: 0;

  #lunacy {
    align-self: flex-end;
    color: $baby-powder;
    font-family: $epilogue;
    font-size: calc(6rem / var(--size-variant));
    margin: $title-margins;
  }

  #linkBox {
    width: 20rem;
    display: flex;
    flex-flow: row wrap;
    align-self: flex-end;
    margin: auto calc(6rem / var(--size-variant))
      calc(0.6rem / var(--size-variant)) auto;

    .navLink {
      color: $baby-powder;
      margin: calc(1.5rem / var(--size-variant));
      font-family: $italic;
      font-size: calc(3rem / var(--size-variant));
    }
  }
}

#bodyBox {
  display: flex;
  height: 100%;
  margin-top: .5rem;
  z-index: -1;

  #leftBox {
    width: calc(30rem / var(--size-variant));
    .sideItem {
      position: relative;
      width: calc(25rem / var(--size-variant));
      height: 5%;
      border: .33rem solid $rich-black;
      border-right: .66rem solid $rich-black;
      border-radius: 2rem 0 0 2rem;
      // box-shadow: inset ;
      margin: 1.5rem .1rem 1rem 1.5rem;
      background-color: $tiffany-blue;
      z-index: 3;
      opacity: .8;
    }
    .sideItem:hover {
       cursor: pointer;
       border-right: 5px solid $rich-black;

    }
    .sideItem:focus {

    }
  }

  #contentBox {
    background-color: $tiffany-blue;
    flex: 1 0 auto;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    background-color: $tiffany-blue;
    border-left: .33rem solid $rich-black;
    opacity: .8;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --size-variant: 3;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --size-variant: 5;
  }
}
