@font-face {
   font-family: 'EpilogueItalic';
   src: url('./Epilogue-Italic[wght].woff2') format('woff2');
}
@font-face {
   font-family: 'Epilogue';
   src: url('./Epilogue[wght].woff2') format('woff2');
}

@font-face {
   font-family: 'AnybodyItalic';
   src: url('Anybody-BlackItalic.woff2') format('woff2');
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: 'Trispace';
   src: url('TrispaceCondensed-ExtraBold.woff2') format('woff2');
   font-weight: normal;
   font-style: italic;
}

$italic: 'EpilogueItalic';
$epilogue: 'Epilogue';
$anybodyI: 'AnybodyItalic';
$trispace: 'Trispace';